body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    
    background: rgb(27,13,50);
    background: linear-gradient(235deg, rgba(27,13,50,1) 30%, rgba(0,0,0,1) 100%);
    color: white;
    padding: 20px;
    margin: 20px;
}

.estilo-caixas div {
    background: #0b0b0c;
    display: inline-block;
    color: white;
    padding: 13px;
    margin: 20px;
    border-radius: 20px;
    border-color: #09094d;
    border-width: 3px;
    border-style: solid;
    cursor: pointer
    
}

.estilo-caixas div:hover {
    background-color: #09094d;
    border-color: #09094d;
    border-width: 3px;
    border-style: solid;
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
    
}

.estilo-caixas label{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #09094d;
    border-radius: 10px;
    border: 3px solid #ccc;
}

.select-filmes {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: #0b0b0c;
    background-image: none;
    font-size: 15px;
    
}

.select-filmes {
    flex: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    
}

.escolha-seu-filme {
    position: relative;
    display: flex;
    width: 400px;
    height: 50px;
    background: #09094d;
    border-radius: 15px;
    border-color:#09094d;
    border-width: 3px;
    border-style: solid;
    margin: 20px;
    cursor: pointer;
    
}

.botao-finalizar {
    background: #3423A6;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20em;
    border-color: rgb(199, 195, 195);
    border-width: 3px;
    border-style: solid;
    
}

.botao-finalizar:hover {
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
    border-color: rgb(44, 31, 165);

}

.fa-linkedin {
    text-align: center;
    color: #7f7f8f;
    font-size: 50px;

}

.fa-linkedin:hover {
    color: white;
    transform: scale(0.95);
    transition: 0.2s;
    
}

.posicao-link {
    text-align: center;

}

.botao-centralizar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ingressos .entradas{
    display: inline-block;
    padding-right: 30px;
}

.ingressos select{
    height: 40px;
    width: 60px;
    background: #0b0b0c;
    color: white;
    border-radius: 0px;
    border-color: #09094d;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    padding: 5px;
    
}

.entradas{
    outline: none;
}

.ingressos span{
    font-size: 15px;
}