*{
    font-family: Poppins; 
    margin: 0;
}

header{
    background: rgb(77,25,145);
background: linear-gradient(180deg, rgba(77,25,145,1) 0%, rgb(27,13,50) 100%);
}

header{
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 80px;
    margin: auto;
}

header .fa-bars, .fa-users{
    padding: 50px;
    font-size: 30px;
}

header .fa-bars:hover, .fa-users:hover{
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
}

body {
    background: rgb(27,13,50);
    background: linear-gradient(235deg, rgba(27,13,50,1) 30%, rgba(0,0,0,1) 100%);
    color: white;
    padding-top: 160px;
}

.paragrafos{
    margin: 40px;
    padding: 15px;
    border: 3px solid #3b2275;
    border-radius: 5em;
    width: max-content;
    height: 30px;
}

.pagamento, .horarios{
    padding-left: 20px;
}

.estilo-caixas {
    display: flex;
    gap: 30px;
}

.estilo-caixas div {
    background: #0b0b0c;
    padding: 0px;
    border: 3px solid #13298b;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.estilo-caixas input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.estilo-caixas input[type="radio"]:checked ~ label {
    background-color: #13298b;
    color: white;
}

.estilo-caixas label {
    display: block;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    transition: background-color 0.4s, color 0.4s;
}


.estilo-caixas div:hover {
    background-color: #09094d;
    border-color: #09094d;
    border-width: 3px;
    border-style: solid;
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
}

.estilo-caixas label{
    cursor: pointer;
} 

.select-filmes {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0;
    background-color: #0b0b0c;
    background-image: url('./imagens/seta-64x33.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 15px;
}

.select-filmes {
    flex: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.escolha-seu-filme {
    position: relative;
    display: flex;
    width: 400px;
    height: 50px;
    margin: 20px;
    border-color:#13298b;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
}

.ingressos {
    margin: 15px;
}

.ingressos .entradas {
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle; 
}

.ingressos select {
    background: #0b0b0c;
    color: white;
    height: 55px; 
    width: 60px;
    padding: 10px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid #13298b;
    
    font-size: 20px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('./imagens/seta-32x32.png') ;
    background-repeat: no-repeat;
    background-position: right center;
}

.ingressos span {
    display: inline-block; 
    height: 23px; 
    padding: 13px;
    margin: 5px;
    border: 3px solid #13298b;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    vertical-align: middle; 
}

.ingressos select:hover {
    background-color: #13298b;
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
}

.ingressos option{
    background-color: #0b0b0c;
}

.botao-finalizar {
    background: #3423A6;
    color: white;
    padding: 20px;
    margin: 20px;
    border-color: rgb(199, 195, 195);
    border-radius: 20em;
    border-width: 3px;
    border-style: solid;
}

.botao-centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-finalizar:hover {
    border-color: rgb(44, 31, 165);
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
}

.fa-linkedin, .fa-github {
    color: #7f7f8f;
    font-size: 50px;
    margin-right: 20px;
    padding-top: 15px;
}

.posicao-link {
    text-align: center;
    padding-bottom: 30px;
}

.fa-linkedin:hover, .fa-github:hover {
    color: white;
    transform: scale(0.95);
    transition: 0.2s;
}