body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    
    background: rgb(27,13,50);
background: linear-gradient(235deg, rgba(27,13,50,1) 45%, rgba(0,0,0,1) 100%);

    color: white;
}
.filmes-em-cartaz {

    list-style-image: url('./imagens/icone-filme.png');

}

.estilo-caixas div {

    background: #0b0b0c;
    display: inline-block;
    color: white;
    padding: 13px;
    margin: 20px;
    border-radius: 20px;
    border-color: #252529;
    border-width: 3px;
    border-style: solid;
    
}

.estilo-caixas div:hover {

    background-color: #0b0b0c;
    border-color: rgb(44, 31, 165);
    border-width: 3px;
    border-style: solid;
    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;

}

.select-filmes {
    
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: #0b0b0c;
    background-image: none;
    font-size: 15px;
    
}

.select-filmes {
    
    flex: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.escolha-seu-filme {
    
    position: relative;
    display: flex;
    width: 400px;
    height: 50px;
    background: #0b0b0c;
    border-radius: 15px;
    border-color: #252529;
    border-width: 3px;
    border-style: solid;
    
}


.escolha-seu-filme:hover {
    
    background-color: #0b0b0c;
    border-color: rgb(44, 31, 165);
    border-width: 3px;
    border-style: solid;
    transform: scale(0.98);
    transition: 0.2s;
    cursor: pointer;
    
}

.botao-centralizar {

    display: flex;
    justify-content: center;
    align-items: center;

}

.botao-finalizar {

    background: rgb(55, 5, 112);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    
}

.botao-finalizar:hover {

    transform: scale(0.95);
    transition: 0.2s;
    cursor: pointer;
    border-color: rgb(44, 31, 165);

}

.fa-linkedin {

    text-align: center;
    color: white;
    font-size: 50px;
}

.posicao-link {

    text-align: center;
}